종목코드(Ticker)와 종목명(Stock Name)을 매칭시킨 데이터 리스트를 csv파일 형태로 저장하기 위한 코드이다.
데이터 분석 시에는 종목코드를 활용해야하고, 시각화할 때는 주로 종목명을 사용하기 때문에
이 두 가지를 매칭시키는 과정은 주가 데이터 분석에 있어서 필수적이다.
우선 정보데이터시스템(KRX) 홈페이지에서 상장기업 상세정보를 검색하여 다운 받은 csv 파일을 해당 파일과 같은 경로에 저장해두었다.
http://data.krx.co.kr/contents/MDC/MAIN/main/index.cmd

In [35]:
import pandas as pd

In [36]:
file_path = 'data_5806_20220111.csv'
data = pd.read_csv(file_path, encoding='cp949')
data

,종목코드,종목명,시장구분,소속부,소속부.1,업종코드,업종명,결산월,지정자문인,상장주식수,액면가,자본금,통화구분,대표이사,대표전화,주소
0,60310,3S,KOSDAQ,중견기업부,NaN,32602,전자부품 제조업,3,NaN,46271513,500,23135756500,원(KRW),"박종익, 김세완 (각자 대표이사)",02-896-9474,서울특별시 금천구 가산디지털1로 75-24 1310호
1,95570,AJ네트웍스,KOSPI,NaN,NaN,147603,산업용 기계 및 장비 임대업,12,NaN,46822295,1000,46822295000,원(KRW),박대현,02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)"
2,6840,AK홀딩스,KOSPI,NaN,NaN,116409,기타 금융업,12,NaN,13247561,5000,66237805000,원(KRW),"채형석, 이석주(각자 대표이사)",02-768-2923,서울특별시 마포구 양화로 188 -
3,54620,APS홀딩스,KOSDAQ,중견기업부,NaN,116409,기타 금융업,12,NaN,20394221,500,10197110500,원(KRW),정기로,031-776-1800,경기도 화성시 동탄면 동탄산단9길 23-12 (동탄면)
4,265520,AP시스템,KOSDAQ,우량기업부,NaN,32902,특수 목적용 기계 제조업,12,NaN,15281421,500,7640710500,원(KRW),김영주,031-379-2700,경기도 화성시 동탄면 동탄산단8길 15-5 &nbsp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2480,189980,흥국에프엔비,KOSDAQ,중견기업부,NaN,31102,비알코올음료 및 얼음 제조업,12,NaN,39997771,100,3999777100,원(KRW),"박철범, 오길영",02-572-2446,"서울특별시 서초구 마방로 60 24층 (양재동, 트러스트타워)"
2481,540,흥국화재,KOSPI,NaN,NaN,116501,보험업,12,NaN,64242645,5000,325821225000,원(KRW),권중원,02-2002-6000,서울특별시 종로구 새문안로 68
2482,3280,흥아해운,KOSPI,NaN,NaN,85001,해상 운송업,12,NaN,240424899,500,120212449500,원(KRW),이환구,02-3449-3000,"서울특별시 중구 남대문로9길 39 서울시 중구 남대문로9길 39(을지로1가, 부림빌..."
2483,37440,희림,KOSDAQ,중견기업부,NaN,137201,"건축기술, 엔지니어링 및 관련 기술 서비스업",12,NaN,13922475,500,6961237500,원(KRW),"정영균, 이목운, 허철호 (각자대표)",02-3410-9219,서울특별시 강동구 상일로6길 39-
2484,238490,힘스,KOSDAQ,우량기업부,NaN,32902,특수 목적용 기계 제조업,12,NaN,11312236,500,5656118000,원(KRW),김주환,032-821-2511,인천광역시 남동구 남동서로 126 &nbsp

In [37]:
#필요한 column만 가져오기
data = data[["종목코드", "종목명"]]
data

        종목코드     종목명
0      60310      3S
1      95570  AJ네트웍스
2       6840   AK홀딩스
3      54620  APS홀딩스
4     265520   AP시스템
...      ...     ...
2480  189980  흥국에프엔비
2481     540    흥국화재
2482    3280    흥아해운
2483   37440      희림
2484  238490      힘스

[2485 rows x 2 columns]

In [38]:
#종목코드를 6자리로 맞춰주기 위한 코드
for i in range(len(data["종목코드"])):
    data["종목코드"].iloc[i] = (6-len(str(data["종목코드"][i])))*"0" + str(data["종목코드"][i])
data

C:\Users\lovej\anaconda3\envs\pytrend\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\lovej\anaconda3\envs\pytrend\lib\site-packages\pandas\core\indexing.py:1965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj._check_is_chained_assignment_possible()

        종목코드     종목명
0     060310      3S
1     095570  AJ네트웍스
2     006840   AK홀딩스
3     054620  APS홀딩스
4     265520   AP시스템
...      ...     ...
2480  189980  흥국에프엔비
2481  000540    흥국화재
2482  003280    흥아해운
2483  037440      희림
2484  238490      힘스

[2485 rows x 2 columns]

In [39]:
data

        종목코드     종목명
0     060310      3S
1     095570  AJ네트웍스
2     006840   AK홀딩스
3     054620  APS홀딩스
4     265520   AP시스템
...      ...     ...
2480  189980  흥국에프엔비
2481  000540    흥국화재
2482  003280    흥아해운
2483  037440      희림
2484  238490      힘스

[2485 rows x 2 columns]

In [43]:
#종목명에 특정 단어가 포함된 리스트만 따로 추출하기. 삼성 계열사를 예시로 들었다.
condition = data["종목명"].str.contains('삼성')
data[condition]

       종목코드        종목명
879  006400      삼성SDI
880  006660       삼성공조
881  380320  삼성머스트스팩5호
882  028260       삼성물산
883  207940   삼성바이오로직스
884  032830       삼성생명
885  377630     삼성스팩4호
886  018260    삼성에스디에스
887  028050    삼성엔지니어링
888  009150       삼성전기
889  005930       삼성전자
890  001360       삼성제약
891  010140      삼성중공업
892  016360       삼성증권
893  068290      삼성출판사
894  029780       삼성카드
895  000810       삼성화재

In [44]:
data.to_csv("Ticker Match.csv")